body {
	background-color: #0A2A29;
}

footer {
	padding-bottom: 3px;
	padding-top: 30px;
	font-family: 'Lora', serif;
}

address {
	padding-top: 40px;
	font-size: 45px;
	font-family: 'Lora', serif;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
    padding-top: 70px;
    font-family: 'Kelly Slab', cursive;
	text-align: center;
	font-size: 80px;
	color: #E6E6E6;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

.carousel-caption {
	background-color: black;
	color: white;
	font-family: 'Lora', serif;
	opacity: 0.8;
	margin-bottom: 30px;
}

.carousel-control {
	opacity: 0.6;
}

.name {
	color: white;
	background-color: black;
	opacity: 0.8;
}

@media screen and (max-width: 959px) {
 	 body {
		width: 100%;
  	}
  	footer {
  		width: 100%;
  	}
  	address {
  		width: 100%;
  	}
  	.parallax-window {
  		width: 100%;
  	}
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 100%;
	}
	.carousel-caption {
		width: 100%;
	}
	.carousel-control {
		width: 100%;
	}
	.name{
		width: 100%;
	}
	#myCarousel {
		width: 100%;
	}
}

@media screen and (max-width: 320px) {
	body {
	width: 100%;
	}
	footer {
		width: 100%;
	}
	address {
		width: 100%;
	}
	.parallax-window {
		width: 100%;
	}
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 100%;
	}
	.carousel-caption {
		width: 100%;
	}
	.carousel-control {
		width: 100%;
	}
	.name {
		width: 100%;
	}
	#myCarousel {
		width: 100%;
	}
}